.block__inner {
    padding: 50px 30px 75px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}

.cake {
    color: white;
    width: 100px;
    height: 100px;
    ;
}

.pic {
    color: palevioletred;
}

.two {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

body {
    font-family:  Roboto,  sans-serif;
}
.colr{
     background-color: palevioletred;
     color: white;
}
 .work {
    display: flex;
    align-items: flex-end;
    padding: 35px;
    background-color: #f3f2f4;
    border-radius: 6px;
    width: 270px;
     margin: 50px;
    height: 250px;
}
.text{
    color: darkcyan;
}
